body {
  background-image: linear-gradient(#615dad, #ffc8da);
  text-align: center;
  color: #ffffff;
  line-height: 1.6;
  height: 100vw;
  background-repeat: no-repeat;
  margin: 0;
}

.ramecek {
  padding: 50px 200px;
  width: 300px;
  margin: 0 auto;
}

.foto {
  width: 300px;
  display: block;
  border-radius: 10px 10px 0 0;
}

h1 {
  margin-top: 20px;
  margin: 0;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: 5px;
}

.uvod {
  background-color: #283e50;
}
.intro {
  padding: 10px;
}
.pravidla {
  height: 32px;
}

.odkazPravidla,
.odkazHrat {
  text-decoration: none;
  display: block;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.odkazPravidla {
  background-color: #1fcca4;
}

.odkazHrat {
  background-color: #0197f6;
  border-top: 2px solid black;
}

.pravidla :hover,
.odkazZpetUvod :hover,
.pravidla :focus,
.odkazZpetUvod :focus {
  background-color: #1cbb96;
}

.hrat :hover,
.hrat :focus,
.odZacatku :hover,
.odZacatku :focus {
  background-color: #0090e9;
}

.stranaPravidla {
  display: block;
  text-align: left;
  padding: 30px;
}
.boxPravidla {
  background-color: #283e50;
  width: 22%;
  font-family: arial;
}

.seznamPravidel li {
  margin: 20px;
}

.situace1,
.situace2,
.situace3,
.situace4,
.situace5,
.situace6 {
  width: 100%;
  display: block;
}
.situace {
  font-style: italic;
}

.kolecko,
.krizky {
  filter: invert(50);
  width: 1em;
  height: 1em;
}

@media screen and (min-width: 640px) and (min-width: 1000px) {
  .boxPravidla {
    width: 70%;
    margin: 0 auto;
  }

  .situace {
    font-style: italic;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .priklady {
    width: 41%;
  }
}

.strHra {
  display: block;
  max-width: 80vmin;
  margin: 0 auto;
}
.hraciPole button {
  width: 8vmin;
  height: 8vmin;
  padding: 0;
}

.hraciPole button:focus,
.hraciPole button:hover {
  background-color: blanchedalmond;
}

.hraciPole {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  opacity: 60%;
}

.uvodniRadek {
  display: flex;
  justify-content: space-between;
}

.ikony {
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  align-items: flex-start;
}
.odkazy {
  align-items: flex-end;
}

.domecek {
  background-color: #1fcca4;
  border-radius: 3px;
  padding: 10px;
}

.sipka {
  background-color: #0197f6;
  border-radius: 3px;
  padding: 10px;
}

.board__field--circle {
  background-image: url('obrazky_pravidla/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  animation: createPicture 0.15s;
}

.board__field--cross {
  background-image: url('obrazky_pravidla/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  animation: createPicture 0.15s;
}
